{% extends "base-left.html" %}
{% load staticfiles %}

{% block css %}{% endblock %}
{% block content %}

    <!-- Main content -->
  <section class="content">
        <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <strong><h4>WebSocket</h4></strong>
              <p>WSS在线测试工具</p>
            </div>
            <div class="icon">
              <i class="fa fa-unlink "></i>
            </div>
            <a href="http://tool.hibbba.com/websocket/" class="small-box-footer" target="_blank">使用工具 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <strong><h4>网速通</h4></strong>

              <p>域名访问测速</p>
            </div>
            <div class="icon">
              <i class="fa fa-globe"></i>
            </div>
            <a href="http://ceba.quansucloud.com/wstCeba/http/http-test.action" target="_blank" class="small-box-footer">使用工具 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
            <strong><h4>IPIP</h4></strong>

              <p>IP查询工具</p>
            </div>
            <div class="icon">
              <i class="fa fa-delicious"></i>
            </div>
            <a href="https://www.ipip.net/ip.html"  target="_blank" class="small-box-footer">使用工具<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-orange">
            <div class="inner">
            <strong><h4>暂未添加</h4></strong>

              <p>其他工具</p>
            </div>
            <div class="icon">
              <i class="fa fa-delicious"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">资产统计信息</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="chart">
                    <!-- Sales Chart Canvas -->
                    <div id="dev_container" style="height: 400px;"></div>
                  </div>
                  <!-- /.chart-responsive -->
                </div>
                <!-- /.col -->
                <div class="col-md-6">
                    <div id="ope_container" style="height: 400px;"></div>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- ./box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
  </section>

    <!-- /.content -->

{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{% static 'plugins/echarts/echarts.js' %}"></script>
<script type="text/javascript">
var dev_dom = document.getElementById("dev_container");
var dev_Chart = echarts.init(dev_dom, 'macarons');
dev_option = null;
dev_option = {
    title : {
        text: '主机分布',
        subtext: '数据来自设备管理'
    },
    tooltip : {
        trigger: 'axis'
    },

    toolbox: {
        show : true,
        feature : {
            dataView : {show: true, readOnly: false},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'value',
            boundaryGap : [0, 0.01]
        }
    ],
    yAxis : [
        {
            type : 'category',
            data : [{% for cab in cabinet_list %} '{{ cab }}', {% endfor %}]
        }
    ],
    series : [
        {
            name:'云主机',
            type:'bar',
            data:{{ cabinet_count }}
        }
    ]
};
;
if (dev_option && typeof dev_option === "object") {
    dev_Chart.setOption(dev_option, true);
}


var ope_dom = document.getElementById("ope_container");
var ope_Chart = echarts.init(ope_dom, 'macarons');
ope_option = null;
ope_option = {
    title : {
        text: '项目分布',
        subtext: '数据来自设备管理',
        x:'center'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient : 'vertical',
        x : 'left',
        data: [{% for ope in operations %} '{{ ope.name }}', {%  endfor %}]
    },
    toolbox: {
        show : true,
        feature : {
            dataView : {show: true, readOnly: false},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    series : [
        {
            name:'主机数量',
            type:'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:[
                {% for ope in operations %}
                {value:{{ ope.count }}, name:'{{ ope.name }}'},
                {% endfor %}
            ]
        }
    ]
};
;
if (ope_option && typeof ope_option === "object") {
    ope_Chart.setOption(ope_option, true);
}

//图表窗体自适应
$(window).resize(function(){
  ope_Chart.resize();
  dev_Chart.resize();
});

//跳转到网络资产
function doNetworkAsset(){
    window.location.href="{% url 'cmdb:eam-network_asset' %}";
}

</script>
{% endblock %}